body,
html {
    height: 100%;
}

.icon {
    width: 85%;
    height: 50%;
    margin-top: 30px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 300%;
    margin-top: 30%;
}
h3 {
    text-align: center;
}

form {
    background-color: #ffffffa6;
    border-radius: 25px;
    margin-top: 30%;
}

#backgroundOne {
    /* The image used */
    background-image: url('./assets/networking.jpg');
    opacity: .7;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#backgroundTwo {
    /* The image used */
    background-image: url('./assets/austin.jpg');

    /* Full height */
    height: 150%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sectionTwo {
    height: 400px;
}

#backgroundThree {
    /* The image used */
    background-image: url('./assets/intersection.jpg');
    opacity: .7;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
/* @media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
} */